// BORDER
$border-radius-base: 8px;
$border-radius-normal: 10px;
$border-radius-medium: 12px;
$border-radius-large: 16px;
$border-radius-extra-large: 16px;

$border-base-value: 0.5px solid rgba($color-grey, 0.5);
