
@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@each $deg in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) {
  @keyframes shaking-#{$deg} {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(#{$deg}deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(-#{$deg}deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@keyframes trembling {
  0% {
    transform: translateX(3px);
  }
  33% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(-3px)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.shaking {
  animation: shaking-10 0.2s infinite linear;
}

.shaking-calm {
  animation: shaking-1 0.2s infinite linear;
}

.trembling {
  animation: trembling 0.2s infinite;
}

.appear {
  animation: appear 2.5s forwards;
}
