.overflow-hidden {
    overflow: hidden !important;
}

.text-whitespace-normal {
    white-space: normal;
}

.text-underline {
    text-decoration: underline;
}

.display-block {
  display: block;
}

.margin-auto{
  margin-right: 0 auto;
}

.gap-small {
  gap: 10px;
}
