.home_wrapper{
  max-width: 350px;
  margin: 0 auto;
}
.main_footer{
  height: 50px;
}
.slider-red {
  --slider-connect-bg: #4CA6E6;
  --slider-tooltip-bg: #4CA6E6;
  --slider-handle-ring-color: #4CA6E6;
}
